<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joker.cosmos_android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/opengenus_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Acitvity.AlgorithmsActivity" />
        <activity android:name=".Acitvity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Acitvity.SubAlgoActivity" />
        <activity android:name=".Acitvity.File"></activity>
        <activity android:name=".Acitvity.QuestionActivity"></activity>


    </application>

</manifest>